<div class="max-w-md bg-primary">
  <%= render(TimePickerComponent.new) do %>
    <%= text_field_tag "task[due_time]", nil,
                       autocomplete: "off",
                       class:        "w-full p-2 text-sm placeholder-neutral bg-transparent border-0 ring-0",
                       placeholder:  "Set time" %>
  <% end %>
</div>
