@import "tailwindcss";
@import "../builds/flatpickr.min";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: var(--color-slate-600);
  --color-secondary: var(--color-rose-400);
  --color-accent: var(--color-slate-800);
  --color-neutral: var(--color-stone-200);
  --color-success: var(--color-emerald-400);
  --color-error: var(--color-rose-600);
  --color-warning: var(--color-amber-400);
  --color-info: var(--color-sky-400);
}

@layer base {
  html {
    @apply text-neutral stroke-neutral;
  }
}

.flatpickr {
  @apply bg-transparent text-inherit shadow-none;

  .flatpickr-calendar {
    @apply bg-transparent text-inherit shadow-none;

    * {
      @apply bg-transparent text-inherit fill-current;
    }

    .prevMonthDay,
    .nextMonthDay {
      @apply bg-transparent text-primary;
    }

    .flatpickr-day.selected {
      @apply border-secondary bg-transparent;

      &:hover {
        @apply bg-secondary;
      }
    }
  }
}
