<div class="mx-4 my-1">
  <label class="group">
    <span class="w-4 h-4 cursor-pointer rounded-full border-1 border-neutral group-has-[input:checked]:border-secondary bg-transparent flex items-center justify-center transition">
      <%= checkbox_peer %>
      <svg class="w-4 h-4 hidden peer-checked:block text-secondary" fill="currentColor" stroke="currentColor" viewBox="0 0 16 16">
        <path d="M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z"/>
      </svg>
    </span>
  </label>
</div>
