<div class="flatpickr" data-controller="view-components--date-picker-component">
  <%= form.date_field :due_date, id: dom_id(form.object, :due_date), class: "hidden", data: { "view-components--date-picker-component-target": "input" }, autocomplete: "off" %>
</div>
