<div class="flex flex-col" data-controller="task-list-component">
  <%#= tag.div class: "flex", data: { controller: "task" } do %>
    <%#= new_button %>

<!--    <template id="task-template"><%#= render TaskComponent.new(task: Task.new) %></template>-->
  <%# end %>

  <div id="<%= dom_id %>" class="flex flex-col" data-task-list-component-target="taskList">
    <% @tasks.each do |task| %>
      <%= render TaskComponent.new(task: task) %>
    <% end %>
  </div>
</div>
