<div id="<%= dom_id %>" class="flex flex-col" data-controller="task-list-component">
  <% @tasks.each do |task| %>
    <div class="drag-handle" data-task-list-component-target="task" data-task-id="<%= task.id %>">
      <%= render TaskComponent.new(task: task) %>
    </div>
  <% end %>
</div>
