<div class="flex" data-controller="time-picker-component">
  <div class="w-fit px-2 flex items-center justify-center">
    <%= helpers.inline_svg("time-svgrepo-com.svg", class: "h-8 w-8") %>
  </div>

  <div class="relative flex">
    <div data-action="click->time-picker-component#show"><%= content %></div>

    <div class="hidden w-full bg-accent absolute overflow-y-auto" data-time-picker-component-target="menu">
      <% time_intervals do |time| %>
        <div class="p-2 cursor-pointer" data-value="<%= time %>" data-action="click->time-picker-component#select">
          <%= time %>
        </div>
      <% end %>
    </div>
  </div>
</div>
