<div class="flex" data-controller="view-components--time-picker-component" data-action="click@window->view-components--time-picker-component#hide touchstart@window->view-components--time-picker-component#hide keydown.up->view-components--time-picker-component#previousItem keydown.down->view-components--time-picker-component#nextItem keydown.esc->view-components--time-picker-component#hide">
  <div class="w-fit px-2 flex items-center justify-center">
    <%= helpers.inline_svg("time-svgrepo-com.svg", class: "h-8 w-8") %>
  </div>

  <div class="relative">
    <%= form.text_field field,
                        autocomplete: "off",
                        class: "w-full p-2 text-sm placeholder-neutral bg-transparent border-0 ring-0",
                        placeholder: placeholder,
                        data: {
                          "view_components--time-picker-component_target": "input",
                          action: "click->view-components--time-picker-component#show blur->view-components--time-picker-component#hide"
                        } %>

    <div class="hidden w-full bg-accent absolute overflow-y-auto" data-view-components--time-picker-component-target="menu">
      <% time_intervals(interval: 30) do |time| %>
        <div class="p-2 cursor-pointer" data-value="<%= time %>" data-action="click->view-components--time-picker-component#select">
          <%= time %>
        </div>
      <% end %>
    </div>
  </div>
</div>
