<% if @task.saved_change_to_completed_at? %>
  <%= turbo_stream.remove @dom_id %>
  <%= turbo_stream.prepend (@task.completed? ? "completed-tasks" : "tasks"), render(TaskComponent.new(task: @task)) %>
  <%= turbo_stream.replace "completed-count", "<span id=\"completed-count\">#{@completed_tasks_size}</span>" %>
<% else %>
  <%= turbo_stream.replace @dom_id, render(TaskComponent.new(task: @task)) %>
<% end %>
