<div class="flex flex-col gap-2 h-100">
  <% task = Task.first %>
  <div class="bg-primary">
    <%= render(TaskComponent.new(task: task)) %>
  </div>
  <div class="flex-grow"></div>
  <% task = Task.new(
    title:        "Test",
  # description:  "Some additional details about this task",
  # due_at:       Time.zone.now + 1.hour,
  # has_due_time: true,
    ) %>
  <div class="bg-primary">
    <%= render(TaskComponent.new(task: task)) %>
  </div>
</div>
