<%= form_with(model: Task.new(due_date: Date.tomorrow)) do |form| %>
  <div class="flex">
    <div class="bg-primary rounded-lg p-4">
      <%= render(DatePickerComponent.new(form: form, field: :due_time)) %>
    </div>
  </div>
<% end %>
