<div class="flex">
  <div class="bg-primary rounded-lg p-4">
    <%= render(DatePickerComponent.new) do %>
      <%= date_field_tag "task[due_date]", Date.tomorrow, autocomplete: "off", class: "hidden" %>
    <% end %>
  </div>
</div>
